@import '~react-image-gallery/styles/css/image-gallery.css';

h1.section-title {
    text-align: center;
    text-transform: uppercase;

    padding-bottom: 14px;
}

a {
    color: gray;
    text-decoration: none;

}

a:hover {
    color: rgba(0, 0, 0, 0.2)
}

hr {
    margin-bottom: 90px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: none;
}